<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.okair.db.mapper.CategroyInterfaceMapper">
  <resultMap id="BaseResultMap" type="com.iss.okair.db.entity.CategroyInterface">
    <result column="parentld" jdbcType="VARCHAR" property="parentld" />
  </resultMap>
 <select id="selectAll" resultMap="BaseResultMap">
 	select * from categoryparent
 </select>
</mapper>