<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.okair.db.mapper.CheckOutListMapper">
<resultMap type="com.iss.okair.db.entity.CheckOutList" id="BaseResultMap">
	<id property="id" column="id" jdbcType="VARCHAR"/>
	<result property="assetsid" column="assetsid" jdbcType="VARCHAR"/>
	<result property="assetsnamecn" column="assetsNameCn" jdbcType="VARCHAR"/>
	<result property="assetscode" column="assetsCode" jdbcType="VARCHAR"/>
	<result property="assetstype" column="assetstype" jdbcType="INTEGER"/><!-- VARCHAR -->
	<result property="batchno" column="batchno" jdbcType="VARCHAR"/>
	<result property="transtype" column="transtype" jdbcType="VARCHAR"/>
	<result property="count" column="count" jdbcType="DECIMAL"/>
	<result property="currentamount" column="currentAmount" jdbcType="DECIMAL"/>
	<result property="price" column="price" jdbcType="DECIMAL"/>
	<result property="handleremp" column="handleremp" jdbcType="VARCHAR"/>
	<result property="handlerempname" column="handlerEmpName" jdbcType="VARCHAR"/>
	<result property="instocktime" column="instocktime" jdbcType="TIMESTAMP"/>
	<result property="targetemp" column="targetemp" jdbcType="VARCHAR"/>
	<result property="targetempname" column="targetEmpName" jdbcType="VARCHAR"/>
	<result property="comment" column="comment" jdbcType="VARCHAR"/>
	<result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
	<result property="createuser" column="createuser" jdbcType="VARCHAR"/>
</resultMap>
<sql id="Base_Column_List">
	id,assetsid,assetsNameCn,assetsCode,assetstype,batchno,transtype,count,currentAmount,price,handleremp,handlerEmpName,instocktime,targetemp,targetEmpName,comment,createtime,createuser
</sql>
	<select id="selectByExample" parameterType="com.iss.okair.db.entity.CheckOutList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from checkoutlist
		<where>
			 <if test="assetscode!=null and assetscode!=''">
				<bind name="assetsType" value="assetscode+'%'"/>
					and assetsCode like '${assetsType}'
			</if>
			<!-- <if test="assetsnamecn!=null and assetsnamecn!=''">
				<bind name="name" value="'%'+assetsnamecn"/>
				and assetsNameCn like '${name}'
			</if>
			<if test="batchno!=null and batchno!=''">
			表达式，引值查询
				<bind name="code" value="'%'+batchno+'%'"/>
				and batchno like '${code}'
			</if>
			and currentAmount>0 -->
			<!-- <if test="assetstype!=null and assetstype!=''">
			<bind name="assetsType" value="assetstype+'%'"/>
		 		assetstype like '${assetsType}'
		 	</if> -->
			<if test="assetsnamecn!=null and assetsnamecn!=''">
				<bind name="name" value="'%'+assetsnamecn+'%'"/>
			    and assetsNameCn like '${name}'
			</if>
			<if test="batchno!=null and batchno!=''">
			<!-- 表达式，引值查询 -->
				<bind name="code" value="'%'+batchno+'%'"/>
				and batchno like '${code}'
			</if>
		<!-- 	<if test="assetscode!=null and assetscode!=''">
				<bind name="code" value="'%'+assetscode+'%'"/>
				and assetsCode like '${code}'
			</if> -->
			and currentAmount>0
		</where>
	</select>
</mapper>